<p >
  {{indice+1}}
  {{empleado.nombre}}
  {{empleado.apellido}}
  {{empleado.puesto}}
  {{empleado.salario}}
  <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'1'}">
    Actualizar
  </a>
  <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'2'}">
    Eliminar
  </a>
</p>

<app-CaracteristicasEmpleado (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-CaracteristicasEmpleado>
<ul>
  <li *ngFor="let caracteristica of arrayCaracteristicas">
    {{caracteristica}}
  </li>
</ul>